@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --font-base: "Roboto", sans-serif;

  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #e0dbdb;

  --secondary-color: #ea5746;
  --accent-color: #5db090;
  --primary-color: #3d5056;
  --color-almost-white: rgb(255, 250, 250);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: row;
  max-width: 2000px;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--color-almost-white);
  font-family: var(--font-base);
  width: 100%;
}

.app {
  width: 100%;
}
